<nav class="navbar navbar-expand-lg navbar-light bg-white">
	<div class="container-fluid d-flex justify-content-between">
		<a class="navbar-brand" href="/">
			<i class="far fa-newspaper"></i>
			Node.js News
		</a>
		<form class="d-flex" action="/" method="POST">
			<input class="form-control me-2" type="text" name="search" placeholder="Search" aria-label="Search" required>
			<button class="btn btn-outline-success" type="submit">Search</button>
		</form>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse text-end justify-content-end" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="/business">Business</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="/entertainment">Entertainment</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="/health">Health</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="/science">Science</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="/sports">Sports</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="/technology">Technology</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
